.mn-stat {
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .content {
        width: 100%;
        // background-color: ;

        pre {
            width: 100%;
            overflow: hidden;
        }
    }

    .link-conteiner {
        width: 100%;
        margin-top: 50px;
    }
    .link {
        color: $color_1;
        text-decoration: underline;

        &:hover {
            color: $color_5;
        }
    }
}
