.mn-stat {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    color: $color_1;

    .content {
        width: 100%;
    }

    .link-conteiner {
        width: 100%;
        margin-top: 50px;
    }
    .link {
        color: $color_1;
        text-decoration: underline;

        &:hover {
            color: $color_5;
        }
    }
}
