header {
    width: 100%;

    nav {
        background-color: $color_1;
    }
    .link {
        color: $color_1;

        margin: 8px;

        &:hover {
            color: $color_0;
            // opacity: 0.4;
        }
    }

    .link-logo {
        font-size: 26px;
        margin: 0px;
        margin-right: 10px;
        transition: 0.8s;
    }
}
