
$color_0: #000;
$color_1: #fff;

// $color_2: #e27d60;
// $color_3: #85dcb0;
// $color_4: #e8a87c;
// $color_5: #c38d9e;
// $color_6: #41b3a3;

$color_2: #3b3a3d;
$color_3: #6e6c78;
$color_4: #7aa899;
$color_5: #8b7aa8;
$color_6: #27263d;
